body {
    background-color: #121212;
        color: #ffffff;
min-height: 100vh;
}

h1,
h2,
h3 {
    color: #ffffff;
}

.container {
    padding: 40px;
    padding-right: 0;
}

.title {
color: #ffffff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
}

.gallery .card {
    transition: 0.1s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

p {
    font-size: 12px;
}

.detail__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    overflow: hidden;
}

.detail__img::after {
    content: "";
    background-image: linear-gradient(transparent 60%, #1f1f1f);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
}

.detail__name {
    position: absolute;
    z-index: 5;
    top: 400px;
}

.detail__container {
    margin-top: 500px;
}

.card{
    width: 1fr;
    content: center;
}
.song{
    width: 1fr;
}
.card-title{
    margin-top: 1px;
}
.img{
    height: 200px;
}

.gallery .card {
    transition: .1s linear;
}

.gallery .card:hover {
    transform: scale(1.05);
    z-index: 10;
}

p {
    font-size: 12px;
}


.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
.icon{
background-color: #333; /* adds a background colour to the button */
color: #fff; /* changes the text colour */
cursor: pointer; /* changes the mouse on hover */
padding: 10px 30px; /* adds 10px of space to top and bottom of text and 30px of space on either side */ 
}

.icon:hover {
background-color: #fff; /* adds a background hover colour to the button */
color: #333; /* changes the text colour on hover */
}
.trackz{
width: 100%;
padding: 10px;
display: grid;
grid-template-columns: 0.1fr 3fr 0.5fr 0.3fr;
border-radius: 5px;
background-color: #ddd;
color:aqua;
}