{% extends 'base.html' %}
{% block title %} My JuiceBox {% endblock %}

{% block content %}
<h1>My JuiceBox</h1>
<div class ='playlists'>
    {% for playlist in playlists %}
        <div class="playlist">
            <h3 class="playlist title">{{playlist.title}}</h3>
            <hr />

            {% for track in playlist.tracks.all %}

                <div class="trackz">
                    <span>{{forloop.counter}}</span>
                    <span><b>{{track.title}}</b></span>
                    <span>{{track.duration}}</span>
                    <a href="{% url 'playlist_track_assoc' playlist.pk track.pk %}?assoc=remove" class="buttonz">
                        <span class="icon">
                            <i class="fas">X</i>
                        </span>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% empty %}
        <div class="none">"No songs in this playlist..."</div>

    {% endfor %}
</div>
{% endblock %}