{% extends 'base.html' %}
{% block title %} Browse Tracks {% endblock %}

{% block content %}

<h1 class="title tracklist"> Browse Tracks </h1>

<form class="mb-5" method="get">
    <div class="field has-addons">
      <div class="control">
        <!--  Our input will search by name of artist  -->
        <input class="input" type="text" name="track" placeholder="Look up a title, artist, or lyrics" />
      </div>
      <div class="control">
        <input class="button is-success" type="submit" value="Search" />
      </div>
    </div>
    <!--  This anchor tag will redirect back to artist list without a query param -->
    <a class="button is-dark" href="/tracks">Clear Search</a>
</form>

<div class="gallery">
    {% for track in artists %}
    <a class="song" href="{% url 'view_track' track.pk %}">
        <div class="card" >
            <div class="card-image">
                <img class='img' src={{track.image}} name={{track.artist}}>
            </div>
            <div class="card-title">
                <h2>Artist: {{track.artist}}</h2>
                <h2>Title: {{track.title}}</h2>
            </div>
            <span>
                <div class="dropdown">
                  <div class="dropdown-trigger">
                    <button
                      class="button"
                      aria-haspopup="true"
                      aria-controls="dropdown-menu"
                    >
                      <span>Add to Playlist</span>
                      <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                  <div class="dropdown-menu" id="dropdown-menu" role="menu">
                    <div class="dropdown-content">
                      {% for playlist in playlists %}
                  <!-- each playlist becomes a drop
                  down item with the ids needed to add to the join table  -->
                      <a
                        href="{% url 'playlist_track_assoc' playlist.pk track.pk %}?assoc=add"
                        class="dropdown-item"
                      >
                        {{playlist.title}}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </span>
        </div>
    </a>
    {% empty %} 
</div>
    {% endfor %}
    {% for track in titles %}
    <a class='song' href="/track">
        <div class="card" >
            <div class="card-image">
                <img class='img' src={{track.image}} name={{track.artist}}>
            </div>
            <div class="card-title">
                <h2>Artist: {{track.artist}}</h2>
                <h2>Title: {{track.title}}</h2>
            </div>
        </div>
    </a>
    {% empty %}
</div>
    {% endfor %}

{% endblock %}